.solver {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: auto;
    flex-grow: 1;
}

.page {
    display: flex;
}

.graph {
    height: 90vh;
    width: calc(50vw - 130px);
    cursor: grab;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}