@use "styles/colors" as *;


.active {
    // background-color: $teal;
    border-left: solid 2px $teal;
    color: $teal;
    background-color: transparentize($teal, 0.95)
}


.sidebar {
    width: 260px;
    background-color: $grey-dark;
    box-shadow: -2px 0 18px rgb(0, 0, 0, 0.5);
    color: white;
    padding: 24px 16px;

    li {
        a {
            // width: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 8px 10px;
            margin-bottom: 6px;
            // border-radius: 6px;
            transition: all 0.1s;

            &:hover {
                @extend .active;
            }
        }
    }

    ul {
        list-style-type: none;
    }
}
