@use "styles/colors" as *;


.active {
    // background-color: $teal;
    border-left: solid 2px $teal;
    color: $teal;
    background-color: transparentize($teal, 0.95)
}


.sidebar {
    width: 260px;
    background-color: $grey-dark;
    box-shadow: -2px 0 18px rgb(0, 0, 0, 0.5);
    color: white;
    
    display: flex;
    flex-direction: column;

    nav {
        padding: 24px 16px;
    }

    li {
        a {
            // width: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 8px 10px;
            margin-bottom: 6px;
            // border-radius: 6px;
            transition: all 0.1s;

            &:hover {
                @extend .active;
            }
        }
    }

    ul {
        list-style-type: none;
    }
}


.info {
    margin-top: auto;
    background-color: $grey;
    padding: 8px 16px;
}

.link {
    display: flex;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s;
    font-size: 12px;
    opacity: 0.5;

    &:hover {
        color: $teal;
        opacity: 1;
    }

    i {
        background-color: $grey-dark;
        padding: 4px;
        border-radius: 50%;
    }
}