@use "colors" as *;

.section {
    &:not(:first-of-type) {
        margin-top: 48px;
    }
    
    width: 100%;

    h2 {
        color: $teal;
        font-weight: bold;
        margin-bottom: 8px;
        text-align: left;
    }
}
