@use "colors" as *;

.input {
    // background: none;
    background-color: $gray;
    padding: 4px;
    border-radius: 6px;
    border: none;
    color: white;
    width: 100px;
    text-align: center;
    border: solid 2px transparent;
    transition: all 0.2s;

    &:focus {
        border: solid 2px $teal;
        outline: none;
    }
}

/* Chrome, Safari, Edge, Opera */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0;

    &:hover {
        color: $red;
    }
}

.box {
    // background-color: $gray;
    padding: 12px;
    // border: solid 1px white;
    box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: $gray-dark;

    p {
        font-size: 14px;
    }

    &:hover {
        .remove {
            opacity: 1;
        }
    }
}
