@use "colors" as *;

.input {
    // background: none;
    background-color: $grey;
    padding: 4px;
    border-radius: 6px;
    border: none;
    color: white;
    width: 100px;
    text-align: center;

    &:focus {
        outline: solid 2px $teal;
    }
}

.box {
    // background-color: $grey;
    padding: 12px;
    // border: solid 1px white;
    box-shadow: 0 2px 12px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: $grey-dark;

    p   {
        font-size: 14px;
    }
}