a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Jetbrains Mono", Consolas, 'Courier New', Courier, monospace;
  word-spacing: -2px;
}

html, body {
  color: white;
}

.main {
  // background-color: red;
  // overflow: scroll;
  overflow: hidden;
  scrollbar-width: thin;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}